.dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 20px;
   
    
  }

  .sidebar ul li:hover{
    background-color: plum;
    width: 85%;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
  }
  
 




  